.skills{

background:#6262ce;

}

.skills-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:35px;

margin-top:60px;

}

.skill-card{

background:var(--card);

padding:35px;

border-radius:22px;

transition:.4s;

border:1px solid transparent;

}

.skill-card:hover{

border-color:#7c5cff;

box-shadow:0 15px 35px rgba(124,92,255,.25);

}

.skill-header{

display:flex;

align-items:center;

gap:18px;

margin-bottom:35px;

}

.skill-icon{

width:65px;

height:65px;

background:#7c5cff;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:32px;

}

.skill-header h3{

font-size:28px;

}

.progress-box{

margin-bottom:22px;

}

.progress-title{

display:flex;

justify-content:space-between;

margin-bottom:10px;

font-size:15px;

}

.progress{

width:100%;

height:10px;

background:#262626;

border-radius:50px;

overflow:hidden;

}

.progress-fill{

height:100%;

background:linear-gradient(
90deg,
#7c5cff,
#00d4ff
);

border-radius:50px;

animation:grow 1.5s ease;

}

@keyframes grow{

from{

width:0;

}

}

.tech-icons{

display:flex;

justify-content:center;

gap:30px;

margin-top:70px;

flex-wrap:wrap;

}

.tech-icons svg{

font-size:55px;

color:#7c5cff;

transition:.3s;

}

.tech-icons svg:hover{

transform:translateY(-10px);

color:var(--text);

}

@media(max-width:900px){

.skills-grid{

grid-template-columns:1fr;

}

}

@media(max-width:600px){

.skill-card{

padding:25px;

}

.skill-header h3{

font-size:22px;

}

.skill-icon{

width:55px;

height:55px;

font-size:26px;

}

}