.theme-btn{

width:45px;

height:45px;

border-radius:50%;

border:none;

background:var(--primary);

color:var(--text);

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

transition:.35s;

font-size:18px;

}

.theme-btn:hover{

transform:rotate(180deg);

box-shadow:0 10px 25px rgba(124,92,255,.4);

}