.education{

background:#09090b;

}

.timeline{

position:relative;

max-width:900px;

margin:70px auto 0;

padding-left:40px;

}

.timeline::before{

content:"";

position:absolute;

left:28px;

top:0;

bottom:0;

width:4px;

background:linear-gradient(
180deg,
#7c5cff,
#00d4ff
);

border-radius:50px;

}

.timeline-item{

display:flex;

gap:30px;

margin-bottom:60px;

position:relative;

}

.timeline-icon{

width:56px;

height:56px;

border-radius:50%;

background:#7c5cff;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

flex-shrink:0;

z-index:5;

box-shadow:0 0 20px rgba(124,92,255,.4);

}

.timeline-card{

background:var(--card);

padding:28px;

border-radius:18px;

width:100%;

border:1px solid transparent;

transition:.3s;

}

.timeline-card:hover{

border-color:#7c5cff;

transform:translateY(-6px);

box-shadow:0 15px 35px rgba(124,92,255,.2);

}

.year{

display:inline-block;

padding:8px 18px;

background:#7c5cff;

border-radius:30px;

font-size:14px;

margin-bottom:18px;

}

.timeline-card h3{

font-size:26px;

margin-bottom:10px;

}

.timeline-card h4{

color:#7c5cff;

margin-bottom:18px;

font-size:18px;

font-weight:500;

}

.timeline-card p{

color:var(--gray);

line-height:1.8;

}

@media(max-width:768px){

.timeline{

padding-left:0;

}

.timeline::before{

left:25px;

}

.timeline-item{

gap:18px;

}

.timeline-card{

padding:22px;

}

.timeline-card h3{

font-size:22px;

}

}